.main{
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.box {
  width: 200px;
  height: 200px;
  background: linear-gradient(lightblue,cadetblue);
  border-radius: 50%;
}

button{
  background: rgb(113, 113, 174);
  border-radius: 25px;
  padding: 5px 5px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  padding: 12px 12px;
  color: white;
}

button:active{
  scale: 0.96;
}