*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;

}

.main{
  height: 100vh;
  padding: 10px;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.jack{
  transform: translate(-50%, -50%);
  cursor: pointer;
 width: 200px;

}

.cock{
  width: 80px;
}

